!!!
html
    head
        title Puton: Futon for PouchDB
        link(rel='stylesheet', type='type/css', href='/css/style.css')
        link(rel='stylesheet', type='type/css', href='/css/codemirror.css')

    body
        a(href='#{ bookmarklet }') Puton
        script(data-main='/js/main', src="/js/libs/require.js")
