!!!
html
    head
        title Puton: Futon for PouchDB
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel='stylesheet', type='type/css', href='/css/minimal.css')
    body
        script
            // For development.
            window.PUTON_HOST = "/"

        .wrapper
            header
                h1 Puton
                p Futon for <a href="http://pouchdb.com">PouchDB</a>
                p.view
                    a(href='http://github.com/ymichael/puton') View the project on Github

                a(href="#{bookmarklet}",style="display: block") 
                    #bookmarklet Puton <strong>save as bookmarklet</strong>

            section
                h2 What is Puton?
                p.
                    Puton is a bookmarklet for inspecting PouchDB databases within the browser.
                    <br/>
                    We use a bookmarklet to circumvent same-origin policy of browsers.

                h2 Getting Started With Puton
                ol
                    li Save the link on the left as a bookmarklet
                    li Open the bookmark on the page <small>(domain)</small> using PouchDB

                h2 Contributing to Puton
                h3 Getting Started
                :markdown
                    - install grunt-cli
                    ```
                    $ npm install -g grunt-cli
                    ```

                    - install npm dependencies
                    ```
                    $ npm install
                    ```

                    - starts puton
                    ```
                    node puton.js
                    ```

                    - starts puton in production mode
                    ```
                    $ NODE_ENV=production node puton.js
                    ```

                    #### Grunt tasks
                    - `lint`
                        - Lint the various files
                    - `build`
                        - concatenate js/css files
                    - `minify`
                        - minify js/css files
                    - `updatepouch`
                        - Update Pouch to latest version
                    - `test`
                        - Runs Jasmine tests
                    - `browsertests`
                        - Starts Connect Server to serve tests at http://localhost:9001
                    - `release` __(default task)__
                        - `lint`
                        - `updatepouch`
                        - `test`
                        - `build`
                        - `minify`
                    - `run`: Starts Puton

            footer
                p.
                    This project is maintained by
                    <br/>
                    <a target="_blank" href="https://github.com/ymichael">ymichael</a>
                    &amp;
                    <a target="_blank" href="https://github.com/zichun">zichun</a>
                p
                    small Styled with <a target="_blank" href="https://github.com/orderedlist/minimal">minimal by orderedlist</a>
                    br
                    small Hosted on <a target="_blank" href="http://nodejitsu.com">Nodejitsu</a>
            
