body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
	position: relative;
}

h2 {
	margin-bottom: 0;
	padding: bottom: 0;
}

#log {
	font-size: 13px;
	color: #555;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
}
.log-info {
	color: #444;
}
.log-log {
	color: #888;
}