@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@fontcolor: #555;
@selected: #a51805;
#puton {
    color: @fontcolor;
    overflow: auto;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #eee;
    padding: 50px 0;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;

    #puton-container {
        margin: auto;
        width: 960px;
    }

    #puton-heading {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    #puton-hide-button {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        border-top: solid 40px #ccc;
        border-left: solid 40px transparent;
        &:hover {
            border-top: solid 40px @selected;
        }
    }

    h1, h2, h3, h4, h5 {
        margin: 5px 0;
        color: darken(@fontcolor, 15);
    }

    .puton-section {
        padding: 5px 0;
        margin: 10px 0;
        border: none;
    }

    //
    // Main View
    //
    .puton-main-input {
        width: 700px;
        .puton-db-label {
            display: inline-block;
            font: 40px 'Source Code Pro', sans-serif;
            letter-spacing: -1px;
            line-height: 40px;
        }
        #puton-db-input {
            font: 20px 'Source Code Pro', sans-serif;
            line-height: 20px;
            width: 200px;
            border: none;
            outline: none;
            border-bottom: solid 2px @fontcolor;
            margin: 10px 10px 0 10px;
            padding: 5px 0;
            vertical-align: bottom;
            display: inline-block;
        }
    }
    .puton-db-info {
        font-size: 22px;
    }
    .puton-dbnames {
        margin-top: 20px;
        margin: 0;
        padding: 0;
        .puton-dbname {
            list-style: none;
            padding: 5px 10px;
            margin: 0;
            font-size: 22px;
            cursor: pointer;
            &:nth-child(odd) {
                border-left: solid 15px #ddd;
            }
            &:nth-child(even) {
                border-left: solid 15px #ccc;
            }
            &:hover {
                color: black;
                border-left: solid 15px @selected;
            }
        }
    }

    // DB View
    #puton-dbname {
        display: inline-block;
    }
    .puton-dbinfo {
        margin: 0 10px;
        display: inline-block;
    }

    .puton-doc, .puton-revision {
        width: 470px;
        padding: 10px 0;
        margin: 10px 0;
        //
        // Expanded Doc's JSON View
        //
        .puton-doc-key, .puton-json-view, .puton-doc-optionsbar {
            font: 15px 'Source Code Pro', sans-serif;
        }
        .puton-doc-key {
            display: inline-block;
            margin-right: 10px;
        }
        .puton-doc-optionsbar {
            display: block;
            margin: 5px 0 10px;
            .option {
                border: solid 1px;
                border-radius: 5px;
                padding: 2px 5px;
                cursor: pointer;
                color: @fontcolor;
                &:hover {
                    color: #839496;
                }
            }
        }
    }
    //
    // JSON View
    //
    .puton-json-view {
        code {
            font: 15px 'Source Code Pro', sans-serif;    
        }
        outline: 1px solid #ccc;
        display: block;
    }

    #puton-main {
        
    }

    .puton-revs-container,
    .puton-docs-container {
        width: 480px;
    }

    .puton-docs-container { float: left }
    .puton-revs-container { float: right }
    .revisions { float: right }

    #puton-toolbar {
        position: relative;
        text-align: right;
        margin: 10px 0;
        margin-top: -23px;
        a {
            margin-left: 12px;
            font-weight: bold;
            color: @fontcolor;
        }
    }



    .button {
        cursor: pointer;
    }
    .button:hover {
        text-decoration: underline;
    }

    #puton-add-doc {
        position: absolute;
        right: 0;
        top: 35px;
        background-color: white;
        border: solid 1px;
        width: 380px;
        text-align: left;
        padding: 10px;
        border: solid 1px #ddd;
        // Caret
        .puton-caret {
            position: absolute;
            top: -15px;
            right: 40px;
            width: 20px;
            height: 15px;
            .puton-outercaret {
                position: absolute;
                top: 1.5px;
                left: 1px;
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 14px solid #fff;
            }
            .puton-innercaret {
                position: absolute;
                top: 0;
                left: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 15px solid #ddd;
            }
        }
        .puton-code-edit {
            text-align: left;
            // padding: 10px;
            // width: 360px;
            // border: solid 1px #eee;
            // outline: none;
            // resize: none;
            // height: 180px;
            // font: 20px 'Source Code Pro', sans-serif;
        }
    }

    #puton-tab-buttons {
        text-align: left;
        border-bottom: solid 1px;
        padding-top: 10px;
        margin-top: 10px;
        .puton-tab-button {
            margin-bottom: -1px;
            cursor: pointer;
            padding: 5px 15px;
            &.closeable {
                padding: 5px 40px 5px 15px;
            }
            font-size: 17px;
            position: relative;
            display: inline-block;
            border-top: solid 1px #ccc;
            border-left: solid 1px #ccc;
            border-right: solid 1px #ccc;
            opacity: 0.5;
            text-align: center;
            &:hover {
                opacity: 0.8;
            }
            &.active {
                opacity: 1;
                cursor: auto;
                border-bottom: solid 1px white;
                border-top: solid 1px #555;
                border-right: solid 1px #555;
                border-left: solid 1px #555;
            }
            .puton-close-tab {
                padding: 3px;
                position: absolute;
                top: 7px;
                right: 7px;
                width: 8px;
                height: 8px;
                vertical-align: bottom;
                display: inline-block;
                border-radius: 20px;
                background-image: url(/img/close.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-origin: content-box;
                border: solid 1px white;
                cursor: pointer;
                &:hover {
                    border: solid 1px;
                    background-color: #ccc;
                }
            }
        }
    }

    #puton-log {
        z-index: -100;
        display: none;
        font-size: 13px;
        color: #555;
        text-align: right;
        position: absolute;
        right: 30px;
        top: 50px;
        width: 500px;
        overflow: auto;
        .log-info {
            color: #444;
        }
        .log-log {
            color: #888;
        }
        .log-error {
            color: #933;
            font-size: 1.2em;
        }
    }

    //
    // jqtree
    //
    ul.jqtree-tree {
        margin-left: 12px;
    }

    ul.jqtree-tree,
    ul.jqtree-tree ul.jqtree_common {
        list-style: none outside;
        margin-bottom: 0;
        padding: 0;
    }

    ul.jqtree-tree ul.jqtree_common {
        display: block;
        margin-left: 12px;
        margin-right: 0;
    }
    ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
        display: none;
    }

    ul.jqtree-tree li.jqtree_common {
        clear: both;
    }
    ul.jqtree-tree .jqtree-toggler {
        display: block;
        position: absolute;
        left: -1.5em;
        top: 30%;
        *top: 0;  /* fix for ie7 */
        font-size: 12px;
        line-height: 12px;
        font-family: arial;  /* fix for ie9 */
        border-bottom: none;
        color: #333;
    }
    .log-error ul.jqtree-tree .jqtree-toggler { 
        color: red;
    }

    ul.jqtree-tree div {
        text-align: left;
    }
    ul.jqtree-tree .jqtree-toggler:hover {
        color: #000;
    }

    ul.jqtree-tree div {
        cursor: pointer;
    }

    ul.jqtree-tree .jqtree-title {
        /*color: #1C4257;*/
        vertical-align: middle;
    }

    ul.jqtree-tree li.jqtree-folder {
        margin-bottom: 4px;
    }

    ul.jqtree-tree li.jqtree-folder.jqtree-closed {
        margin-bottom: 1px;
    }

    ul.jqtree-tree li.jqtree-folder .jqtree-title {
        margin-left: 0;
    }

    ul.jqtree-tree .jqtree-toggler.jqtree-closed {
        background-position: 0 0;
    }

    span.jqtree-dragging {
        color: #fff;
        background: #000;
        opacity: 0.6;
        cursor: pointer;
        padding: 2px 8px;
    }

    ul.jqtree-tree li.jqtree-ghost {
        position: relative;
        z-index: 10;
        margin-right: 10px;
    }

    ul.jqtree-tree li.jqtree-ghost span {
        display: block;
    }

    ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
        background-image: url(jqtree-circle.png);
        background-repeat: no-repeat;
        height: 8px;
        width: 8px;
        position: absolute;
        top: -4px;
        left: 2px;
    }

    ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
        background-color: #0000ff;
        height: 2px;
        padding: 0;
        position: absolute;
        top: -1px;
        left: 10px;
        width: 100%;
    }

    ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
        margin-left: 48px;
    }

    ul.jqtree-tree span.jqtree-border {
        position: absolute;
        display: block;
        left: -2px;
        top: 0;
        border: solid 2px #0000ff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin: 0;
    }

    ul.jqtree-tree div {
        width: 100%; /* todo: why is this in here? */
        *width: auto; /* ie7 fix; issue 41 */
        position: relative;
    }

    ul.jqtree-tree li.jqtree-selected > div,
    ul.jqtree-tree li.jqtree-selected > div:hover {
        background-color: #97BDD6;
        background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
        background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
        background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
        background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }

    ul.jqtree-tree .jqtree-moving > div .jqtree-title {
        outline: dashed 1px #0000ff;
    }
}
